body * {
  border: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

nav {
  height: 50px;
  margin-top: 17px;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 272px;
}

aside {
  height: 71vh;
  width: 49vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 50px;
  width: 100%;
  margin-top: 272px;
}
